In [1]:
print("Hello, World!")

Hello, World!

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
#comments
print("Hello, World!")

Hello, World!

In [7]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [6]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [4]:
x = 5
y = "Hello, World!"

In [4]:
#variables
x = 2
y = "Madina"
print(x)
print(y)

2
Madina

In [2]:
x=7
x="Anna"
print(x)

Anna

In [6]:
x=str(7)
y=int(7)
z=float(7)
print(x)
print(y)
print(z)

7
7
7.0

In [7]:
x = 7
y = "Madina"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
a = 4
A = "Rav"

In [9]:
#Variable Names

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Multiple Values

x,y,z="Cola","Sprite","Fanta"
print(x)
print(y)
print(z)

Cola
Sprite
Fanta

In [10]:
x=y=z="Apple"
print(x)
print(y)
print(z)

Apple
Apple
Apple

In [11]:
fruits=["apple","banana","orange"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
orange

In [ ]:
#Output Variables
x="I"
y="like"
z="python"
print(x,y,z)

I like python

In [13]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [14]:
x = 5
y = 10
print(x + y)

15

In [10]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
#Global Variables

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:

#the global keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [13]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [14]:
#DATA TYPES

x = 5
print(type(x))

<class 'int'>

In [15]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [16]:
x=1j
print(type(x))

<class 'complex'>

In [17]:
#Setting the Specific Data Type

x = str("Hello World")
print(type(x))

<class 'str'>

In [18]:
x = float(20.5)
print(type(x))

<class 'float'>

In [ ]:
x = bool(5)
print(type(x))

In [ ]:
x = bytes(5)
print(type(x))

In [ ]:
x = bytearray(5)
print(type(x))

In [ ]:
x = tuple(("apple", "banana", "cherry"))
print(type(x))

In [19]:
x = range(6)
print(type(x))

<class 'range'>

In [ ]:
#PYTHON NUMBERS

x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

In [20]:
#Conversion

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#Python Casting

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)    
y = float(2.8)   
z = float("3")   
w = float("4.2")

In [ ]:
x = str("s1") 
y = str(2)    
z = str(3.0)

In [21]:
#Python Strings

print("Hello")
print('Hello')

Hello
Hello

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

In [22]:
a = "Hello"
print(a)

Hello

In [ ]:
#Multiline Strings

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

In [23]:
#Strings are Arrays

a = "Hello, World!"
print(a[1])

e

In [24]:
a = "Hello, World!"
print(a[4])

o

In [25]:
#Looping Through a String

for x in "banana":
  print(x)

b
a
n
a
n
a

In [26]:
a = "Hello, World!"
print(len(a))

13

In [33]:
txt = "The best things in life are free!"
print("expensive" in txt)

False

In [32]:
txt = "The best things in life are expensive!"
if "expensive" in txt:
  print("Yes, 'expensive' is present.")

Yes, 'expensive' is present.

In [ ]:
txt = "The best things in life are expensive!"
print("free" not in txt)

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

In [34]:
#Sliscing Strings

b = "Hello, World!"
print(b[2:5])

llo

In [35]:
b = "Hello, World!"
print(b[:5])

Hello

In [36]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [37]:
#Negative slicing
b = "Hello, World!"
print(b[-5:-2])

orl

In [38]:
#Modify Strings

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [39]:
a="Hello,World!"
print(a.lower())

hello,world!

In [40]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [41]:
#replace
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
#split

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

In [43]:
# String Concatenation

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [42]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
#F-Strings

age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [45]:
#Placeholders and Modifiers
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [46]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [47]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [48]:
#Escape Characters

txt = "We are the so-called \"Vikings\" from the north."

In [54]:
#String Methods

#Capitalize()

txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

#String casefold()

txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

#String center() 
txt = "banana"

x = txt.center(20)

print(x)


#String count
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)


#Python endswitch
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

#Python expandtabs()
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

#find

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

#format
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

#index
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

#isalnum
txt = "Company12"

x = txt.isalnum()

print(x)

#islower
txt = "hello world!"

x = txt.islower()

print(x)

txt = "565543"

#isnumeric
x = txt.isnumeric()

print(x)


#isspace
txt = "   "

x = txt.isspace()

print(x)

Hello, and welcome to my world.
hello, and welcome to my world!
       banana
2
True
H e l l o
7
For only 49.00 dollars!
7
True
True
True
True